body {
    margin: 0;
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .label {
    fill: #000;
}

.axis .grid {
    stroke: #CCC;
}

.axis .minor .grid {
    stroke-dasharray: 1 3;
}

.x.axis path {
    display: none;
}

.curve {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

